<?xml version="1.0"?>
<!--
/**
 * @package    Packlink_PacklinkPro
 * @author     Packlink Shipping S.L.
 * @copyright  2019 Packlink
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Packlink_PacklinkPro::packlink" title="Packlink PRO Shipping"
                          translate="title" sortOrder="51">
                    <resource id="Packlink_PacklinkPro::configuration" title="Configuration"
                              translate="title" sortOrder="10"/>
                    <resource id="Packlink_PacklinkPro::shipments" title="Shipments and labels"
                              translate="title" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
