<?xml version="1.0"?>
<!--
/**
 * @package    Packlink_PacklinkPro
 * @author     Packlink Shipping S.L.
 * @copyright  2019 Packlink
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <group id="packlink" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Packlink PRO Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_action" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Handling Applied</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingAction</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="allowed_methods" translate="label" type="multiselect" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>Packlink\PacklinkPro\Model\Config\Source\Method</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
